.movies-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.movies-list__card-wrapper {
  display: grid;
  gap: 43px 30px;
  padding-top: 70px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
}

@media (max-width: 768px) {
  .movies-list__card-wrapper {
    gap: 47px 30px;
  }
}

@media (max-width: 420px) {
  .movies-list__card-wrapper {
    padding-top: 40px;
    gap: 38px;
  }
}
