.movies-card {
  position: relative;
  max-width: 360px;
  min-width: 300px;
  width: 100%;
}
.movies-card__image {
  width: 100%;
  cursor: pointer;
}
.movies-card__button {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 14px;
  border-radius: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.movies-card__image:hover + .movies-card__button {
  visibility: visible;
}
.movies-card__button:hover {
  visibility: visible;
}
.movies-card__button_type_save {
  background: #313131;
  padding: 6px 10px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
}
.movies-card__button_type_saved {
  visibility: visible;
  width: 21px;
  height: 21px;
  background: url('../../images/save-button_saved.svg') #ee3465 no-repeat center;
}
.movies-card__button_type_delete {
  width: 21px;
  height: 21px;
  background: url('../../images/deleteCardButton.svg') #313131 no-repeat center;
}
.movies-card__description {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 14px 0 14px;
}
.movies-card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  max-width: 250px;
  min-height: 32px;
}
.movies-card__duration {
  color: #8b8b8b;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 3px 8px;
  border-radius: 3px;
  background: #2f2f2f;
}

@media (max-width: 780px) {
  .movies-card__description {
    margin-top: 22px;
    padding: 0;
  }
  .movies-card__title {
    max-width: 250px;
    min-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media (max-width: 420px) {
  .movies-card__title {
    font-size: 12px;
    max-width: 240px;
  }
  .movies-card__description {
    margin-top: 13px;
  }
}
