.movies-card {
  position: relative;
  max-width: 369px;
}
.movies-card__image {
  width: 100%;
  cursor: pointer;
}
.movies-card__save-button {
  visibility: hidden;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  border-radius: 30px;
  background: #313131;
  padding: 6px 10px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 9px;
}
.movies-card__image:hover + .movies-card__save-button {
  visibility: visible;
}
.movies-card__save-button_saved {
  visibility: visible;
  background: #ee3465;
  padding: 0;
}
.movies-card__description {
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 14px 0 14px;
}
.movies-card__title {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  max-width: 250px;
  min-height: 32px;
}
.movies-card__duration {
  color: #8b8b8b;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 3px 8px;
  border-radius: 3px;
  background: #2f2f2f;
}
