.movies {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.movies__message {
  text-align: center;
  margin-top: 25px;
}

@media (max-width: 770px) {
  .movies {
    margin: 0 30px;
  }
}

@media (max-width: 420px) {
  .movies {
    margin: 0 10px;
  }
}
