.form {
  display: flex;
  flex-direction: column;
  padding-top: 6px;
}
.field {
  display: flex;
  flex-direction: column;
}
.field__label {
  color: #8b8b8b;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.field:not(:first-child) {
  margin-top: 6px;
}
.field__input {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: 0 transparent;
  border-radius: 8px;
  background: #2f2f2f;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  box-sizing: border-box;
}
.field_input_error {
  color: #EE3465;
}
.field__error {
  margin-top: 4px;
  color: #ee3465;
  font-size: 10px;
  line-height: 10px;
  min-height: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form__error {
  margin-top: 8px;
  color: #ee3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__submit {
  height: 45px;
  border: 0 transparent;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__submit_disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}
.form__submit_type_register {
  margin-top: 77px;
}
.form__submit_type_login {
  margin-top: 165px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #2f2f2f;
}

@media (max-width: 420px) {
  .form__submit_type_login {
    margin-top: 253px;
    font-size: 12px;
  }
  .form__submit_type_register {
    margin-top: 165px;
    font-size: 12px;
  }
}
