.navigation {
  margin: 0 auto;
}
.navigation__link {
  color: white;
  font-size: 13px;
  font-weight: 400;
}
.navigation__link_current {
  font-weight: 500;
}
.navigation__link:first-child {
  margin-right: 16px;
}
.navigation__burger-menu-button {
  display: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-image: url('../../images/burgerButton.svg');
  grid-column-start: 3;
  margin-left: auto;
}
.auth-buttons {
  grid-column-start: 3;
  margin-left: auto;
}
.auth-buttons_type_profile {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background: #313131;
  height: 32px;
  width: 100px;
  border-radius: 20px;
  margin-left: auto;
}
.auth-buttons_type_sign-in {
  width: 76px;
  height: 32px;
  border-radius: 3px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  background: #3ddc84;
}
.auth-buttons_type_sign-up {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .navigation__link {
    display: none;
  }
  .auth-buttons_type_profile {
    display: none;
  }
  .navigation__burger-menu-button {
    display: block;
    width: 44px;
    height: 44px;
  }
}

@media (max-width: 420px) {
  .auth-buttons_type_sign-up {
    margin-right: 14px;
    font-size: 10px;
  }
  .auth-buttons_type_sign-in {
    font-size: 10px;
    width: 54px;
    height: 26px;
  }
  .navigation__burger-menu-button {
    width: 40px;
    height: 40px;
  }
}
