.header {
  margin: 0 70px;
  /* padding: 18px 0; */
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

@media (max-width: 768px) {
  .header {
    margin: 0 30px;
    /* padding: 17px 0; */
  }
}

@media (max-width: 425px) {
  .header {
    margin: 0 14px;
    /* padding: 17px 0; */
  }
}
