.footer {
  margin: 0 70px;
  padding-top: 157px;
  flex-shrink: 0;
}
.footer__project-name {
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  margin-bottom: 20px;
}
.footer__wraper {
  padding: 20px 0;
  display: flex;
  border-top: 1px solid #424242;
  justify-content: space-between;
}
.footer__copyright {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  line-height: 15px;
}
.footer__link {
  color: #fff;
  text-align: right;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 768px) {
  .footer {
    margin: 0 30px;
  }
}

@media (max-width: 420px) {
  .footer {
    margin: 0 10px;
    padding-top: 80px;
  }
  .footer__project-name {
    font-size: 12px;
  }
  .footer__wraper {
    flex-direction: column-reverse;
    align-items: center;
    padding: 30px 0 20px;
    gap: 30px;
  }
  .footer__links-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .footer__link {
    font-size: 12px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}
