.tech {
  padding: 100px 70px;
  background: #272727;
}
.tech__subtitle {
  margin: 0;
  margin-top: 90px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}
.tech__text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
  margin: 29px auto 0;
}
.tech__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 100px;
}
.tech__list-item {
  min-height: 60px;
  line-height: 60px;
  border-radius: 10px;
  background: #303030;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}

@media (max-width: 768px) {
  .tech {
    padding: 95px 50px;
  }
  .tech__subtitle {
    margin-top: 80px;
  }
  .tech__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  .tech__list {
    margin-top: 80px;
    grid-template-columns: repeat(7, max(84px));
  }
  .tech__list-item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 750px) {
  .tech__list {
    grid-template-columns: repeat(2, 84px);
  }
}
