.login {
  max-width: 396px;
  margin: 0 auto;
}
.redirect {
  display: flex;
  margin: 0 auto;
  gap: 6px;
  margin-top: 16px;
}
.redirect__text {
  color: #8b8b8b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.redirect__link {
  color: #4285f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

@media (max-width: 420px) {
  .login {
    max-width: 260px;
  }
  .form__submit {
    margin-top: 251px;
    font-size: 12px;
  }
  .redirect {
    margin-top: 14px;
  }
  .redirect__text {
    font-size: 12px;
  }
  .redirect__link {
    font-size: 12px;
  }
}
