.navtab {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.navtab__button {
  border-radius: 10px;
  background: #303030;
  min-width: 96px;
  min-height: 36px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@media (max-width: 425px) {
  .navtab__button {
    min-width: 82px;
    min-height: 26px;
    font-size: 10px;
  }
  .navtab {
    gap: 6px;
  }
}
